<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/project/public/styles/content.css" rel="stylesheet">
    <style>
      .top{
        display: grid;
        grid-template-columns: 1 1fr  ;
        border: 3px solid black;
        height: 100%;
        background-color: antiquewhite;
        flex:1;
        margin-left: 3px;
      }
      .inside{
        display: grid;
        grid-template-columns: 1fr 1fr ;

      }
      .name,.score{
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-left:50px ;
      }

      .above{
        border-bottom: 3px solid black;
        border-top: 3px solid black;
        font-size: large;
        font-family: Arial;
        font-weight: bold;
      }
      .top-board-title{
        font-size: 50px;
        margin-bottom: 20px;
        font-weight: bold;
        color:black;
        height: 0px;
      }
     
    </style>
</head>
  
   
  
      <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
        <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (dark)">
          <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
          <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
              <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#sun-fill"></use></svg>
              Light
              <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="dark" aria-pressed="true">
              <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
              Dark
              <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
              <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#circle-half"></use></svg>
              Auto
              <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
          </li>
        </ul>
      </div>
  
      
    <!-- Fixed navbar -->
  <body>
    
  <%- include('./partials/nav.ejs') %>

  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid ">
      <p style="margin-top: 100px; font-family:Arial;color:black; font-weight: bolder; font-size: 50px;"> Enter  your competition quickly using email</p>
      <form action="/participate" method="POST">
        <div style="margin-bottom: 20px;" class="form-group">
          <label for="email">Enter Organizers email</label>
          <input type="text" id="email" name="email" required>
        </div>
        <button style="background-color:rgb(13, 110, 253); font-weight: bold;color:whitesmoke;border-radius: 20px;" class="participate-competiton" type="submit">Participate in a competition</button>
      </form>
    </div>
  </div>
  
  <div class="row align-items-md-stretch">
    <div class="col-md-6 mb-4">
      <div class="h-100 p-5 text-light rounded-3" style="background-color: #334433;">
        <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
        <form action="/view-competition" method="POST">
          <input value=<%=email%> name='email'hidden>
          <input value=<%=rating %> name='rating' hidden>
          <button class="btn btn-primary btn-lg" type="submit">View Competitions</button>
        </form>
      
      </div>
    </div>


    <div class="col-md-6 mb-4">
      <div class="h-100 p-5 rounded-3" style="background-color: #886622;">
        <h2>Add borders</h2>
        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
        <form action="authenticate" method="POST">
          <input value=<%=email%> name='email'hidden>
          <button class="btn btn-primary btn-lg" type="submit">Apply to Host Competition</button>
        </form>
      </div>
    </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6 mb-4">
      <div class="top">
        <div class="top">
          <div class="top-board-title">
            <p>Top Five Performers</p>
          </div>
          <div class="inside">
            <div class="name above">Name</div>
            <div class="score above">Score</div>
            <% scores.forEach(function(scores) { %>
              <div class="name"><%= scores.name %></div>
              <div class="score"><%= scores.score %></div>
            <% }) %>
          </div>
        </div>
        
    </div>
    </div>

    
    <div class="col-md-6 mb-4">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Add borders</h2>
        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
        <form action="/createcompetition" method="POST">
          <input type="hidden" name="email" value=<%= email %>>
          <button class="btn btn-primary btn-lg" type="submit">Create Competition</button>
        </form>
      </div>
    </div>
  </div>

      
    
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>  
  </body>
    
</html>